body {
	background-color: grey;
}

h1 {
	color: navy;
	margin-left: 20px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
}

div#graph1 {
	background-color:#646667;
}

div#choix {
	/*float: left;	*/
	background-color:#A6A6A1;
	max-width: 30%;
	min-width: 25%;
}

.wrapper{
	border: 1px dashed black;
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 150px;
}
.wrapper .selection{
	width:150px;
	border:1px solid #ccc
}

li ul {display:none;}
li input:checked + ul {display:block;}